<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Store</title>
    <link rel="stylesheet"  href="./css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./js/contact.js"></script>
  </head>
  <body>

    <div id="container">

        
        <%- include ('header.ejs') %>
        <%- include ('navigation.ejs') %>

        <div id="body">
          
        </div>

        <%- include ('footer.ejs') %>
        <%- include ('copyright.ejs') %>
    </div>
	
  </body>
</html>