<div id="nav">
    <a href="/">Home</a>
    <div id="basket">
        <span id="n"><%=n%></span>
        <a href="/cart"><img id="cart" src="https://png.pngtree.com/png-vector/20190927/ourlarge/pngtree-shopping-cart-icon-png-image_1736148.jpg"></a>        
    </div>
</div>