<div id="header">
    <img id="logo" src="https://static.vecteezy.com/system/resources/previews/004/795/456/original/illustration-graphic-of-electronic-store-logo-perfect-to-use-for-technology-company-free-vector.jpg">    
</div>