<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="csss">
    </head>
    <body>
        <form action="/result" method="post">
            <label for="name"><%= label1 %></label>
            <input type="text" name="name">
            <label for="age"><%= label2 %></label>
            <input type="text" name="age">
            <input type="submit" name="submit">
        </form>
    </body>
</html>